
 <div class="container">
  <div class="row">
     <div class="col">
        <div class="jumbotron">
          <div class="container">
          <p style="text-align:center;">{{this.itemID}}</p>
          <img src="/Files/electric-bike.jpg">
            <p><b>Description: </b>It is a white bike which I want somebody to buy. Who wants it.</p>
            <p><b>Price: </b>this</p>
            <p><b>Location: </b>this location</p>
            <p></p>
            <hr class="my-4">
            <p></p>
            <p class="lead">
            <div class="row">
              <div class="col">
                <a class="btn btn-primary btn-md" href="" role="button">Contact Poster</a>
              </div>
              <div class="col">
                <a class="btn btn-primary btn-md" href="" role="button">Place Request</a>
              </div>
            </div>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        
        {{!-- <div class="card h-100">
            <img class="card-img-top" src="..." alt="Replace with Attachement img">
            <div class="card-body">
              <h5 class="card-title text-truncate">{{this.Title}}</h5>
              <p class="card-text">{{this.Descr}}</p>
              <a class="card-text stretched-link"><small class="text-muted" id="{{this.Id}}_dist">{{this.City}}, {{this.ZipCode}}</small></a>
              <div class="LatLong" id={{this.Id}} hidden>
                <span id="{{this.Id}}_lat">{{this.Lat}}</span>
                <span id="{{this.Id}}_lon">{{this.Lon}}</span>
              </div>
            </div>
          </div>
      </div> --}}
    </div>
</div>
