
<div class="container-fluid w-75">
  <h3 class="mt-5 mb-3 mx-auto">
    Search Results for {{capitalize searchName}}: {{searchResult.length}}
  </h3>
  {{#if searchResult}}
    <div class="row no-gutters justify-content-between">
      {{#each searchResult}}
        <div class=" col-auto mb-4 ml-2">
          <div class="card" style="width: 24rem; min-width:24rem">
            <img src="#" class="card-img-top" alt="..." />
            <div class="card-body">
              <h4 class="card-title">
                <span>
                  {{itemName}}
                </span>
              </h4>
              <h5>
                <span>
                  Price:
                  ${{distanceFixed itemPrice}}
                </span>
              </h5>
              <p class="card-text">
                <span>
                  {{itemDescription}}
                </span>
              </p>
              <p class="text-muted">
                <span>
                  {{itemCity}}, 
                  {{itemState}}
                  {{itemZip}}
                  ({{distanceFixed distanceFromSearch}}
                  Mi)
                </span>
              </p>
            </div>
          </div>
        </div>
      {{else}}
        <h3>
          No items
        </h3>
      {{/each}}
    </div>
  {{/if}}
  {{#if searchResult}}
    <div id="map"></div>
  {{/if}}
</div>

</div>

<script src="/scripts/mapDisplay.js"></script>

<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBraLkZrlAmABwn9ZqMQ3Y-oY3e--M0jiA&callback=initMap" async defer></script>