  <div class="container">
    <br>
    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4"></h1>
        <div class="list-group">
          </br>
          </br>
          <a href="mailto:{{this.userEmail}}" target="_newtab" class="btn btn-info">Contact Poster</a>
          
        </div>
      </div>

      <div class="col-lg-9">

        <div class="card mt-4 h-100 ">
          <div class= "img-fluid" style="text-align:center">
            
            <img style="width:100; height: 300px; margin-top: 10px" src={{this.attDescr}}>
          </div>
          <div class="card-body">
            <hr>
            <h3 class="card-title">{{this.itemName}}</h3>
            <h4>${{this.itemPrice}}</h4>
            <p class="card-text">{{this.itemDescription}}</p>
           
          </div>
        </div>
    </div>
</div> 
