<div class="row no-gutters bg-light mt-2 justify-content-center" id="home-header">
  <div class="jumbotron jumbotron-fluid mt-2 bg-transparent">
    <div class="container m-2 text-center">
      <h1 class="display-4 text-info"><strong>Share, Rent, or Buy Awesome Stuff</strong></h1>
      <blockquote class="blockquote">
        <p>The Easiest Way to Find Greatness!!!</p>
      </blockquote>     
    </div>
  </div>
</div>
<div class="row no-gutters justify-content-center"> 
  <div class="col-md-8">
      {{#if items}}
      <table class="table" id="elemTbl">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Distance</th>
        </tr>
        {{#each items}}
        <tr>
          <td id="{{this.Id}}-id" name="elemId" hidden>{{this.Id}}</td>
          <td id="{{this.Id}}-title" name="title">{{this.Title}}</td>
          <td id="{{this.Id}}-descr" name="descr">{{this.Descr}}</td>
          <td id="{{this.Id}}-price" name="price">{{this.Price}}</td>
          <td id="{{this.Id}}-phone" name="phone">{{this.Phone}}</td>
          <td id="{{this.Id}}-address" name="address">{{this.Address}}</td>
          <td id="{{this.Id}}-city" name="city">{{this.City}}</td>
          <td id="{{this.Id}}-state" name="state">{{this.State}}</td>
          <td id="{{this.Id}}-zip" name="zip">{{this.ZipCode}}</td>
          <td id="{{this.Id}}-dist" name="distancee"></td>
          <td id="{{this.Id}}-lat" name="latitude" hidden>{{this.Lat}}</td>
          <td id="{{this.Id}}-lon" name="longitude" hidden>{{this.Lon}}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
  </div>
</div>

<script src="scripts/home.js"></script>